{% extends "base.html" %}

{% block title %}Index - {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content" class="body">
    <h2>All Articles</h2>
    <div id="post-list" class="hfeed">
        {% for article in articles_page.object_list %}
        <div class="sticker-item">
            <article class="hentry">
                <header>
                    <h3 class="entry-title"><i class="fas fa-sticky-note"></i> <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
                    <p class="article-meta">
                        {% if article.date %}
                        <span class="published">Date: {{ article.locale_date }}</span>
                        {% endif %}
                        {% if article.category %}
                        <span class="category">Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
                        {% endif %}
                    </p>
                </header>
                <div class="entry-summary">
                    {{ article.summary|striptags }}
                    <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Read more...</a>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
</section>
{% endblock content %}
