{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - {{ article.title|striptags }}{% endblock %}

{% block content %}
<article class="single-article">
    <header>
        <h2>{{ article.title }}</h2>
        <div><small>
            Published: {{ article.locale_date }}
            {% if article.category %}
            | Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            {% endif %}
            {% if article.tags %}
            | Tags:
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
        </small></div>
    </header>
    <section class="article-content">
        {{ article.content }}
    </section>
    {% if article.prev_article or article.next_article %}
    <nav class="article-pager">
        <ul class="pager">
            {% if article.prev_article %}
            <li class="previous"><a href="{{ SITEURL }}/{{ article.prev_article.url }}">&laquo; {{ article.prev_article.title }}</a></li>
            {% endif %}
            {% if article.next_article %}
            <li class="next"><a href="{{ SITEURL }}/{{ article.next_article.url }}">{{ article.next_article.title }} &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</article>
{% endblock %}
